{% extends "Uni/layout.html" %}
{% block body %}
    <h1>Student: {{student.id}}</h1>
    <ul>
        <li>Name: {{student.name}}</li>
        <li>Email: {{student.email}}</li>
        <li>Phone Number: {{student.phone_number}}</li>
        <li>Student ID: {{student.student_ID}}</li>
    </ul>
    <h2>courses: </h2>
    <ul>
        {% for course in courses %}
            <li>{{ course }}</li>
        {% empty %}
            <li>No applied coureses</li>
        {% endfor %}
    </ul>
    <h2>Add Course</h2>
    <form action="{% url 'add_course' student.id %}" method="post">
        {% csrf_token %}
        <select name="course" id="">
            {% for course in Noncourses %}
                <option value="{{ course.id }}">{{ course }}</option>
            {% endfor %}
        </select>
        <input type="submit">
    </form>
    <a href="{% url 'index' %}">All Students</a>
{% endblock %}